@page
<h1>Prograthon - Sistema de Reservas</h1>

<ul>
    <li><a href="/Usuarios">Usuarios</a></li>
    <li><a href="/Laboratorios">Laboratorios</a></li>
    <li><a href="/Reservas">Reservas</a></li>
</ul>